body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/images/board.jpg");
  background-size: cover;
}

.game-content {
  display: flex;
  flex-direction: column;
}

.game-board-wrapper {
  width: 100vw;
  height: 80vh;
  margin: 0 auto;
}

.functional-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20vh;
}

.game-board {
  width: 100%;
  margin: 5px auto;
}

.btn-chat,
.btn-start,
.btn-hold,
.btn-throw,
.btn-throw2,
.btn-swap,
.btn-steal,
.btn-port-bonus,
.steal-player1,
.steal-player2,
.steal-player3,
.back-steal-player,
.swap-player1,
.swap-player2,
.swap-player3,
.back-swap-player,
.back-swap {
  width: 180px;
  height: 50px;
  padding: 10px;
  margin: 20px auto;
  border: 3px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  background-color: #00acdc;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  transition: 0.3s linear;
  cursor: pointer;
}

.btn-chat:hover,
.btn-start:hover,
.btn-hold:hover,
.btn-throw:hover,
.btn-throw2:hover,
.btn-swap:hover,
.btn-steal:hover,
.btn-port-bonus:hover,
.steal-player1:hover,
.steal-player2:hover,
.steal-player3:hover,
.back-steal-player:hover,
.swap-player1:hover,
.swap-player2:hover,
.swap-player3:hover,
.back-swap-player:hover,
.back-swap:hover {
  background-color: rgba(218, 55, 58);
}

.back-swap {
  display: block;
}

.full-card-wrapper,
.steal-wrapper,
.swap-wrapper,
.swap-cards-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Oswald", sans-serif;
  transition: 0.3s linear;
  z-index: 5;
}

.full-card,
.steal-content,
.swap-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 40%;
  width: 20%;
  height: 50%;
  background-color: rgba(0, 172, 220, 1);
  border: 7px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
}

.full-card-btn {
  width: 200px;
  height: 60px;
  padding: 10px;
  margin: 20px auto;
  border: 4px solid #ffffff;
  border-radius: 20px;
  color: #ffffff;
  background-color: #00acdc;
  font-size: 20px;
  transition: 0.3s linear;
  cursor: pointer;
}

.full-card-btn:hover {
  background-color: rgba(218, 55, 58);
}

.swap-cards-content {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 172, 220, 1);
  border: 7px solid #ffffff;
  border-radius: 20px;
  overflow-y: Auto;
  overflow-x: hidden;
}

.swap-cards-content h2 {
  font-size: 56px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin: 10px auto;
  text-align: center;
}

.cards-opponents {
  margin: 20px;
}

.btn-back-swap {
  position: absolute;
  top: 7%;
  right: 7%;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: rgba(0, 172, 220, 1);
  padding-top: 3px;
  transition: 0.3s linear;
  cursor: pointer;
}

.btn-back-swap:hover {
  border-color: rgba(218, 55, 58);
}
