body {
  margin: 0;
  padding: 0;
  background-image: url("../assets/images/board.jpg");
  background-size: cover;
}

.game-content {
  display: flex;
  flex-direction: column;
}

.game-board-wrapper {
  width: 85%;
  height: 80%;
  margin: 0 auto;
}

.functional-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 20%;
}

.game-board {
  width: 100%;
  margin: 5px auto;
}

.btn-chat {
  width: 200px;
  height: 60px;
  padding: 10px;
  margin: 20px auto;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  background-color: #00acdc;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  transition: 0.3s linear;
  cursor: pointer;
}

.btn-chat:hover {
  background-color: rgba(218, 55, 58);
}
