h1,
h2,
h3,
h4,
h5,
p {
  font-family: helvetica;
  color: #3e3e3e;
}

.description {
  font-size: 14px;
  color: #9e9e9e;
}

.awful-selfie {
  background: red;
  width: 300px;
  height: 300px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#chatRoomsBtn {
  position: absolute;
  top: 49%;
  left: 43%;
  width: 200px;
  height: 45px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  font-size: 18px;
  color: #ffffff;
  background: rgba(0, 172, 220, 1);
  text-align: center;
  transition: 0.3s linear;
  cursor: pointer;
}

.chat-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}

#send,
#getOutRoomBtn {
  width: 180px;
  height: 60px;
  border: 4px solid #ffffff;
  border-radius: 20px;
  font-size: 18px;
  color: #ffffff;
  background: rgba(0, 172, 220, 1);
  text-align: center;
  transition: 0.3s linear;
  cursor: pointer;
}

#send:hover,
#chatRoomsBtn:hover,
#getOutRoomBtn:hover {
  background-color: rgba(218, 55, 58);
}

#chatRooms {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 80%;
  height: 10%;
  top: 45%;
  left: 10%;
  margin: 0 auto;
  overflow: auto;
  background-color: rgba(0, 172, 220, 1);
  border: 4px solid #ffffff;
  border-radius: 20px;
}

#createRoomInput {
  width: 300px;
  height: 30px;
  vertical-align: middle;
  padding: 5px;
  border: 3px solid black;
  border-radius: 10px;
}

#chatRooms button {
  width: 180px;
  height: 45px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  font-size: 24px;
  color: #ffffff;
  background: rgba(0, 172, 220, 1);
  transition: 0.3s linear;
  cursor: pointer;
}

#chatRooms button:hover {
  background-color: rgba(218, 55, 58);
}

#messages {
  width: 96%;
  height: 120px;
  background-color: #ffffff;
  overflow: auto;
  border: 1px solid black;
}

#messageBox {
  width: 94%;
  height: 20px;
  margin-bottom: 5px;
  vertical-align: middle;
  padding: 5px;
  border: 3px solid black;
  border-radius: 5px;
}

.chat {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Oswald", sans-serif;
  transition: 0.3s linear;
  z-index: 5;
}

.chat-content {
  position: absolute;
  top: 25%;
  left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  background-color: rgba(0, 172, 220, 1);
  border: 5px solid #ffffff;
  border-radius: 20px;
}

.chat h4 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin: 10px auto;
  text-align: center;
}

.close-chat {
  width: 180px;
  height: 60px;
  border: 4px solid #ffffff;
  border-radius: 20px;
  font-size: 18px;
  color: #ffffff;
  background: rgba(0, 172, 220, 1);
  text-align: center;
  transition: 0.3s linear;
  cursor: pointer;
}

.close-chat:hover {
  background-color: rgba(218, 55, 58);
}

.hide {
  display: none !important;
}

.red {
  color: red;
}
